server:
  port: 9000

spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/feedbacklens
    username: admin
    password: pwd

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
    show-sql: false

  flyway:
    locations:
      db/migration/common
      db/migration/prod
    clean-disabled: true

logging:
  level:
    root: INFO

app:
  cors:
    allowed-origins: "http://localhost:8080"
    allowed-methods: "GET,POST,PUT,DELETE"
