server:
  port: 9000

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/feedbacklens
    username: admin
    password: pwd

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  flyway:
    clean-disabled: false
    locations:
      - classpath:db/migration/common
      - classpath:db/migration/dev
    baseline-on-migrate: true

logging:
  level:
    root: DEBUG

app:
  cors:
    allowed-origins: "http://localhost:4200"
    allowed-methods: "GET,POST,PUT,DELETE"
